<div class ='container'>
<h2>Budgetify</h2>
<%= link_to new_user_session_path do %>
  <button class="btn btn-primary">Login</button>
  <% end %>
<%= link_to new_user_registration_path do %>
  <button class="btn btn-primary">Sign Up</button>
  <% end %>
  </div>